.form {
    max-width: 60%;
    margin: 0 auto;
    position: relative;
}

#register {
    max-width: 60%;
    padding:1.563em;
    margin:auto;
}

body {
    font-family:"Century Gothic", "Candara", sans-serif;
    font-size: 1em;
    color:#999999;
    background: url("http://skmedina.org/WEB2310/project/assets/bookstacks.jpg") !important;
    background-repeat: repeat-y;
    background-position: left top;
}
.btn {

  border-radius: 4px;

  /*transition: all .3s;*/

}



.siteHeader {

  border-bottom: 1px solid #eee;

}
.nav {
    text-align: right;

}
.nav ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.nav li {

  display: inline;
  line-height: 4;
  margin-left: 25px;

}

.nav li:first-of-type {

  margin-left: 0;

}
.siteContent {

  padding: 50px 0;

}

#register input[type="submit"] {
    cursor:pointer;
    margin: 0 auto;
    width:60%;
    display: block;
    border:none;
    background:#999999;
    color:#FFF;
    padding:0.625em;
    font-size:1.25em;
}

#register input[type="submit"]:hover {
    color: #999999;
    background: #FFF;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#register input[type="submit"]:active {box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);}

#register input[type="text"], #register input[type="email"] {
    width:100%;
    border:1px solid #CCC;
    margin:0 0 0.313em;
    padding:0.625em;
}

#register input[type="text"]:hover, #register input[type="email"]:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
.masthead {

  background-color: #eee;

  padding: 50px 0;

}

@media (min-width: 48em) {

  .masthead {

    padding: 100px 0;

  }

}



.masthead-title {

  margin-top: 0;

}


.siteFooter {

  border-top: 1px solid #eee;

  font-size: .875em;

  padding-top: 15px;

}